
<h1>Home</h1>



<p>Sure we love cupcakes, but why should they have all the fun? In our newest book, Cupcakes, Cookies, and Pie, Oh, My!, we have taken our zany ideas along with candy and snacks right from the grocery store, to decorate cookies, pies, brownies, rice cereal treats, cheesecake, and more. Our new book is chock full of new ideas and new techniques, so grab your favorite treat, scoop a handful of your favorite candies, and let's get this decorating party started.
</p>
