<title><%= @title %></title>

<h1>Privacy Policy</h1>

<ul>
<p>
<h3>Information we collect</h3>
<p>We collect information to provide better services to all of our users from figuring out basic stuff like which language you speak, to more complex things like which ads youll find most useful or the people who matter most to you online. </p>
<p>We collect information in two ways: </p>
</ul>

<ul>
<li>
<p><strong>Information you give us.</strong>
For example, many of our services require you to sign up for a Customer Account. When you do, well ask for
personal information
, like your name, email address, telephone number or credit card. If you want to take full advantage of the sharing features we offer, we might also ask you to create a publicly visible
Customer Profile
, which may include your name and photo.
</p>
</li>
<li>
<p>
<strong>Information we get from your use of our services.</strong>
We may collect information about the services that you use and how you use them, like when you visit a website that uses our advertising services or you view and interact with our ads and content.
</p>

</li>
</ul>
