<div id="footer">
	<img>
	<%= link_to(image_tag("pics1.jpg", alt: "Artflow", id: "logo"), root_path, title: "logo1")%>
	<%= link_to(image_tag("pics5.jpg", alt: "Artflow", id: "logo"), root_path, title: "logo1")%>
	<%= link_to(image_tag("pics3.jpg", alt: "Artflow", id: "logo"), root_path, title: "logo1")%>
	<%= link_to(image_tag("pics4.jpg", alt: "Artflow", id: "logo"), root_path, title: "logo1")%>
	</img>
	

</div>
